[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "<=8.0.4"
fireREST = ">=1.1.0"
jsonschema =">=3.2.0"
netaddr = ">=0.7.19"
openpyxl = ">=3.0.3"
rich = ">=9.2.0"
stackprinter = ">=0.2.5"
PyYAML = ">=5.3"
python-benedict = ">=0.22.0"
python-json-logger = ">=2.0.1"

[dev-packages]
black = ">=20.8b1"
flake8 = ">=3.7.9"
flake8-bandit = ">=2.1.2"
flake8-bugbear = ">=20.1.4"
flake8-import-order = ">=0.18.1"
flake8-builtins = ">=1.5.2"
flake8-docstrings = ">=1.5.0"
flake8-logging-format = ">=0.6.0"
flake8-print = ">=3.1.4"
mypy = ">=0.770"
pre-commit = ">=2.2.0"
pytest = ">=5.4.1"
pytest-cov = ">=2.8.1"
pytest-runner = ">=5.2"
sphinx = ">=3.3.1"
sphinx_rtd_theme = ">=0.5.0"
sphinx-click = ">=2.5.0"
tox = ">=3.14.6"
twine = ">=3.1.1"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
